<mat-toolbar color="primary">
  <span>EJERCICIO || DESARROLLADOR FRONT END</span>
</mat-toolbar>
<div class="container">
  <mat-grid-list cols="3" rowHeight="200px">
    <mat-grid-tile>
      <mat-grid-tile-header>Form</mat-grid-tile-header>
      1
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-grid-tile-header>Prime Numbers</mat-grid-tile-header>
      2
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-grid-tile-header>Multiples Numbers</mat-grid-tile-header>
      3

    </mat-grid-tile>
  </mat-grid-list>
</div>
